.page__head {
	margin-bottom: 30px;

	@media (min-width: $screen-sm-min) {
	margin-bottom: 65px;
	}
}

.page__title {
	font-size: $font-size-title - 14;
	color: $brand_primary;
	margin-top: 0;

	@media (min-width: $screen-sm-min) {
		font-size: $font-size-title;
		margin-bottom: 40px;
	}
}

.page__desc {
	font-family: $font-fam-light;
	font-size: $font-size-base - 2;
	font-weight: 200;
	margin: 0;

	@media (min-width: $screen-sm-min) {
		font-size: $font-size-base;
	}
}
