<!DOCTYPE html>
<html>
	<head>
		<title>EXANTE Test</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="shortcut icon" type="image/png" href="./img/favicon.png" />
		<link rel="stylesheet" media="all" href="css/style.css" />
	</head>
	<body>
		@@include('./partials/header.html')
		<main class="main">
			<div class="content">
				@@include('./partials/home.html')
				@@include('./partials/page.html')
			</div>
		</main>
		@@include('./partials/sprite.svg')
		<script src="js/main.js"></script>
	</body>
</html>
