<input type="checkbox" id="toggle" hidden>
<nav class="header">
	<label for="toggle" class="header__toggle" onclick><span></span></label>
	<a class="header__logo" href="#">
		<img srcset="./img/logo-menu@2x.png 2x" src="./img/logo-menu.png" alt="Logo">
	</a>
	<ul class="header__menu">
		<li><a class="header__link" href="#">how it works</a></li>
		<li><a class="header__link" href="#">government relations</a></li>
		<li><a class="header__link" href="#">stasis tokens</a></li>
		<li><a class="header__link is-active" href="#">innovations and traditions</a></li>
		<li><a class="header__link" href="#">contact</a></li>
	</ul>
</nav>
