<div class="home">
	<div class="container">
		<div class="home__content">
			<img class="home__logo" srcset="./img/logo-main@2x.png 2x" src="./img/logo-main.png" alt="Logo">
			<h2 class="home__title">World’s first true digital currency</h2>
			<p class="home__desc">bridging the gap between decentralized
			finance and people</p>
		</div>
	</div>
	<a class="arrow arrow--desktop" href="#"></a>
	<a class="arrow arrow--mobile" href="#">
		<svg width="28" height="26">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-mobile"></use>
		</svg>
	</a>
</div>
