<div class="page is-hidden">
	<div class="container">
		<div class="page__head">
			<h2 class="page__title">Reshaping the future of finance and digital innovation</h2>
			<p class="page__desc">
				STASIS represents the next big step: combining the potential of the cryptocurrency market with the reliability
				of fiat currencies, and becoming a winning choice for any market behavior.
			</p>
		</div>
		<div class="page__content features">
			<div class="features__toggles">
				<a href="#" class="features__prev" id="prev">
					<svg width="15" height="20">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-active"></use>
					</svg>
				</a>
				<a href="#" class="features__next is-disabled" id="next">
					<svg width="15" height="20">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-disabled"></use>
					</svg>
				</a>
			</div>
			<div class="features__slides">
				<div class="features__slide is-active">
					<div class="features__item">
						<div class="features__title">
							<svg class="features__icon" width="44" height="44">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-blockchain"></use>
							</svg>
							<h3>Using Blockchain</h3>
						</div>
						<p class="features__desc">
							STASIS platform is based on the Blockchain technology, the main innovation
							of the recent years which raised the world of finance to the new level of
							security and transparency.
						</p>
					</div>
					<div class="features__item">
						<div class="features__title">
							<svg class="features__icon" width="44" height="44">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-stability"></use>
							</svg>
							<h3>Stability</h3>
						</div>
						<p class="features__desc">
							The cost of one unit of the new currency issued on the STASIS platform is
							tied to the underlying national currency - be it the euro, won or British pound.
						</p>
					</div>
				</div>
				<div class="features__slide">
					<div class="features__item">
						<div class="features__title">
							<svg class="features__icon" width="44" height="44">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-recognition"></use>
							</svg>
							<h3>Recognition</h3>
						</div>
						<p class="features__desc">
							STASIS platform and issue of cryptocurrency are supported by government authorities, and reserves are the subject of
							a
							regular audit. The implementation of distributed ledger technology aka blockchain can help to reimagine the annual
							and
							quarterly audits by making the process as real-time and low-cost as possible.
						</p>
					</div>
					<div class="features__item">
						<div class="features__title">
							<svg class="features__icon" width="44" height="44">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-reverses"></use>
							</svg>
							<h3>Reserves</h3>
						</div>
						<p class="features__desc">
							Each STASIS stable coin token is fully convertible with its fiat equivalent on a 1:1 value basis The reserves are
							managed according to strict “money market” mandate by the respectful institution.
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
