// colors

$brand-primary: #345972;
$brand-secondary: #00c8ff;
$text-color: #4e5d60;
$title-color: $brand-primary;

// typographics

$font-fam: 'Exo 2';
$font-fam-semibold: 'Exo 2 Semi';
$font-fam-light: 'Exo 2 Extra';
$font-local: 'Exo 2';

$font-regular-url1: '../fonts/Exo2-Regular.woff2';
$font-regular-url2: '../fonts/Exo2-Regular.woff';
$font-regular-weight: 400;

$font-light-url1: '../fonts/Exo2-ExtraLight.woff2';
$font-light-url2: '../fonts/Exo2-ExtraLight.woff';
$font-light-weight: 200;

$font-semibold-url1: '../fonts/Exo2-SemiBold.woff2';
$font-semibold-url2: '../fonts/Exo2-SemiBold.woff';
$font-semibold-weight: 600;

$font-size-base: 18px;
$font-size-title: 36px;
$font-size-subtitle: 24px;
$font-size-menu: 14px;

// media

$screen-xs-min: 321px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
